/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
}


/* UTILITIES */
.container {
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float {
  float: left;
  padding: 0 16px;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: 50%;
}

.w-49 {
  width: 49%;
}

.w-70 {
  width: 70%;
}

.relative {
  position: relative;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* HEADER */

.navbar {
  width: 1070px;
  max-width: 100%;
  margin: 0 auto;
  line-height: 80px;
}

.img-logo {
  margin-top: 5px;
}

.menu-nav {
  padding: 0;
  text-align: right;
  font-size: 80%;
}

.menu-nav li {
  list-style: none;
  display: inline-block;
}

.menu-nav li a {
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.menu-nav li:nth-last-child(2) a{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}


/* JUMBOTRON */
#jumbotron {
  height: 550px;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

#jumbotron h1 {
  font-weight: 600;
  font-size: 48px;
}

#jumbotron h3 {
  font-weight: 400;
  padding: 25px 0 18px;
  font-size: 16px;
}


/* PRODOTTI */
#products {
  margin-top: 50px;
  margin-bottom: 50px;
}
#products .box {
  padding: 75px 75px 35px;
  text-align: center;
  background: #fafafa;
}

#products .box .cta {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: blue;
}

#products .box a::after {
  content: '\003e';
  display: inline-block;
  margin-left: 10px;
}
#products .box h2,
#products .box h4 {
  font-weight: 400;
}

#products .box h2 {
  margin-bottom: 21px;
  font-size: 38px;
}
#products .box h4 {
  margin-bottom: 24px;
  font-size: 18px;
}

#products .box img {
  max-width: 100%;
  width: 230px;
  margin-top: 21px;
}

/* HOW WORKS */
.how-works-bg {
  height: 400px;
  background-image: url('../img/helbiz-banner.jpg');
  background-size: cover;
  background-position: center;
}

#how-works img {
  max-width: 100%;
}

#how-works .contents {
  padding-bottom: 60px;
}

#how-works .col-sx,
#how-works .col-dx {
  padding-top: 120px;
}

#how-works .col-sx {
  text-align: right;
}

#how-works .col-sx h3 {
  font-weight: 600;
  font-size: 30px;
  width: 190px;
  display: inline-block;
  text-align: left;
}

#how-works .img-phone {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
  margin-bottom: 40px;
}

/* SMART MOBILITY */

#smart-mobility {
  height: 550px;
  background-image: url('../img/scooter-bg.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

#smart-mobility .smart-mobility-dx {
  float: right;
  color: white;
  height: 100%;
  position: relative;
  text-align: center;
}

#smart-mobility h2 {
  font-size: 48px;
  font-weight: lighter;
  padding-bottom: 20px;
}

#smart-mobility .box p,
#smart-mobility .box a {
  font-size: 21px;
  font-weight: lighter;
}

#smart-mobility .box p {
  padding-bottom: 20px;
}

#smart-mobility .box a {
  color: white;
  text-decoration: none;
}

#smart-mobility .box a::after {
  content: '\003e';
  display: inline-block;
  margin-left: 10px;
}

/* APP AND FIND US */
#app-and-find-us {
  height: 500px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

#app-and-find-us .box {
  padding-top: 30px;
}

#app-and-find-us h3 {
  font-size: 30px;
}

#app-and-find-us p,
#app-and-find-us a {
  font-size: 20px;
}

#app-and-find-us h3,
#app-and-find-us p,
#app-and-find-us a {
  font-weight: lighter;
  margin-bottom: 20px;
}

.app-and-find-us-left {
  height: 100%;
  background: url('../img/helbiz-app.png'), linear-gradient(#41566a,#252f38);
  background-position: 50% 480%;
  background-repeat: no-repeat;
  background-size: 700px, 100%;
  margin-right: 1%;
}

#app-and-find-us a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

#app-and-find-us .box a:last-of-type {
  padding-left: 30px;
}

#app-and-find-us a::after {
  content: '\003e';
  display: inline-block;
  margin-left: 10px;
}

.app-and-find-us-right {
  height: 100%;
  background-image: url('../img/cities.jpg');
  background-size: cover;
  background-position: cover;
  margin-left: 1%;
}

/* AREA SOCIAL */

#social {
  height: 420px;
  background-image: url('../img/social-banner.jpg');
  background-position: cover;
  background-size: contain;
  margin-bottom: 30px;
  position: relative;
}

#social .box {
  text-align: center;
  font-size: 30px;
  height: 200px;
  width: 450px;
  background-color: white;
  padding: 50px;
}

#social-links li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

#social-links a {
  color: inherit;
}

footer {
  background: black;
  height: 650px;
  color: white;
}

.footer-top {
  padding-top: 100px;
  padding-bottom: 50px;
}

.foot-col h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.foot-links li {
  list-style: none;
  margin-bottom: 10px;
}

.foot-links a {
  color: #696969;
  text-decoration: none;
  font-size: 14px;
}

.footer-middle {
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.footer-social-links #social-links {
  font-size: 22px;
}

.useful-links {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-bottom {
  padding-top: 20px;
  text-align: center;
}
